<h1 id="tableLabel">Buscar Links</h1>

<p>
  <label for="inputPesquisa" class="form-label">Pesquisa</label>
  <input type="text" class="form-control" id="inputPesquisa" placeholder="Insira sua pesquisa" [(ngModel)]="textoPesquisa">
  <button (click)="listarConsultas(textoPesquisa)" class="btn btn-primary">Enviar</button>
</p>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Título</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of consultas">
      <td>{{ c.id }}</td>
      <td>{{ c.titulo }}</td>
      <td>{{ c.link }}</td>
    </tr>
  </tbody>
</table>
